## Data Cleaning for healthcare-data-stroke.csv
This notebook cleans the data in `healthcare-data-stroke.csv` by removing duplicates, `NaN` values, re-scaling values of the data by normalization, and convert non-numerical data to numerical data for the ease of model training in future.

### Import `pandas` library and read csv file. Also list out some basic informations about the dataset. Remove records that has `NaN` values.

In [85]:
import pandas as pd
df = pd.read_csv('/Users/wenghong/ML-Assignment/healthcare-dataset-stroke-data.csv')

num_nan_rows = df.isna().sum(axis=1).astype(bool).sum()
total_rows = df.shape[0]
print('Number of records in total: {}\nNumber of records that has NaN values: {}'.format(total_rows, num_nan_rows))

# remove NaN values
df = df.dropna()
print('Number of records after removing NaN values: {}'.format(df.shape[0]))

Number of records in total: 5110
Number of records that has NaN values: 201
Number of records after removing NaN values: 4909

### Give an overview of the dataset

In [86]:
df.head(20)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
10,12109,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
11,12095,Female,61.0,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1
12,12175,Female,54.0,0,0,Yes,Private,Urban,104.51,27.3,smokes,1
14,5317,Female,79.0,0,1,Yes,Private,Urban,214.09,28.2,never smoked,1
15,58202,Female,50.0,1,0,Yes,Self-employed,Rural,167.41,30.9,never smoked,1
16,56112,Male,64.0,0,1,Yes,Private,Urban,191.61,37.5,smokes,1
17,34120,Male,75.0,1,0,Yes,Private,Urban,221.29,25.8,smokes,1
18,27458,Female,60.0,0,0,No,Private,Urban,89.22,37.8,never smoked,1
20,70630,Female,71.0,0,0,Yes,Govt_job,Rural,193.94,22.4,smokes,1
21,13861,Female,52.0,1,0,Yes,Self-employed,Urban,233.29,48.9,never smoked,1
22,68794,Female,79.0,0,0,Yes,Self-employed,Urban,228.70,26.6,never smoked,1
23,64778,Male,82.0,0,1,Yes,Private,Rural,208.30,32.5,Unknown,1

### List out all the columns

In [87]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

### List out all the variety of values in each column

In [88]:
for col in df.columns:
    print("{}\n".format(col))
    print(df[col].unique())

id

[ 9046 31112 60182 ... 19723 37544 44679]
gender

['Male' 'Female' 'Other']
age

[6.70e+01 8.00e+01 4.90e+01 7.90e+01 8.10e+01 7.40e+01 6.90e+01 7.80e+01
 6.10e+01 5.40e+01 5.00e+01 6.40e+01 7.50e+01 6.00e+01 7.10e+01 5.20e+01
 8.20e+01 6.50e+01 5.70e+01 4.20e+01 4.80e+01 7.20e+01 5.80e+01 7.60e+01
 3.90e+01 7.70e+01 6.30e+01 7.30e+01 5.60e+01 4.50e+01 7.00e+01 5.90e+01
 6.60e+01 4.30e+01 6.80e+01 4.70e+01 5.30e+01 3.80e+01 5.50e+01 4.60e+01
 3.20e+01 5.10e+01 1.40e+01 3.00e+00 8.00e+00 3.70e+01 4.00e+01 3.50e+01
 2.00e+01 4.40e+01 2.50e+01 2.70e+01 2.30e+01 1.70e+01 1.30e+01 4.00e+00
 1.60e+01 2.20e+01 3.00e+01 2.90e+01 1.10e+01 2.10e+01 1.80e+01 3.30e+01
 2.40e+01 3.60e+01 6.40e-01 3.40e+01 4.10e+01 8.80e-01 5.00e+00 2.60e+01
 3.10e+01 7.00e+00 1.20e+01 6.20e+01 2.00e+00 9.00e+00 1.50e+01 2.80e+01
 1.00e+01 1.80e+00 3.20e-01 1.08e+00 1.90e+01 6.00e+00 1.16e+00 1.00e+00
 1.40e+00 1.72e+00 2.40e-01 1.64e+00 1.56e+00 7.20e-01 1.88e+00 1.24e+00
 8.00e-01 4.00e-01 8.00e-02 1.48e+00 5.60e-01 1.32e+00 1.60e-01 4.80e-01]
hypertension

[0 1]
heart_disease

[1 0]
ever_married

['Yes' 'No']
work_type

['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']
Residence_type

['Urban' 'Rural']
avg_glucose_level

[228.69 105.92 171.23 ...  82.99 166.29  85.28]
bmi

[36.6 32.5 34.4 24.  29.  27.4 22.8 24.2 29.7 36.8 27.3 28.2 30.9 37.5
 25.8 37.8 22.4 48.9 26.6 27.2 23.5 28.3 44.2 25.4 22.2 30.5 26.5 33.7
 23.1 32.  29.9 23.9 28.5 26.4 20.2 33.6 38.6 39.2 27.7 31.4 36.5 33.2
 32.8 40.4 25.3 30.2 47.5 20.3 30.  28.9 28.1 31.1 21.7 27.  24.1 45.9
 44.1 22.9 29.1 32.3 41.1 25.6 29.8 26.3 26.2 29.4 24.4 28.  28.8 34.6
 19.4 30.3 41.5 22.6 56.6 27.1 31.3 31.  31.7 35.8 28.4 20.1 26.7 38.7
 34.9 25.  23.8 21.8 27.5 24.6 32.9 26.1 31.9 34.1 36.9 37.3 45.7 34.2
 23.6 22.3 37.1 45.  25.5 30.8 37.4 34.5 27.9 29.5 46.  42.5 35.5 26.9
 45.5 31.5 33.  23.4 30.7 20.5 21.5 40.  28.6 42.2 29.6 35.4 16.9 26.8
 39.3 32.6 35.9 21.2 42.4 40.5 36.7 29.3 19.6 18.  17.6 19.1 50.1 17.7
 54.6 35.  22.  39.4 19.7 22.5 25.2 41.8 60.9 23.7 24.5 31.2 16.  31.6
 25.1 24.8 18.3 20.  19.5 36.  35.3 40.1 43.1 21.4 34.3 27.6 16.5 24.3
 25.7 21.9 38.4 25.9 54.7 18.6 24.9 48.2 20.7 39.5 23.3 64.8 35.1 43.6
 21.  47.3 16.6 21.6 15.5 35.6 16.7 41.9 16.4 17.1 29.2 37.9 44.6 39.6
 40.3 41.6 39.  23.2 18.9 36.1 36.3 46.5 16.8 46.6 35.2 20.9 13.8 31.8
 15.3 38.2 45.2 17.  49.8 27.8 60.2 23.  22.1 26.  44.3 51.  39.7 34.7
 21.3 41.2 34.8 19.2 35.7 40.8 24.7 19.  32.4 34.  28.7 32.1 51.5 20.4
 30.6 71.9 19.3 40.9 17.2 16.1 16.2 40.6 18.4 21.1 42.3 32.2 50.2 17.5
 18.7 42.1 47.8 20.8 30.1 17.3 36.4 12.  36.2 55.7 14.4 43.  41.7 33.8
 43.9 22.7 57.5 37.  38.5 16.3 44.  32.7 54.2 40.2 33.3 17.4 41.3 52.3
 14.6 17.8 46.1 33.1 18.1 43.8 50.3 38.9 43.7 39.9 15.9 19.8 12.3 78.
 38.3 41.  42.6 43.4 15.1 20.6 33.5 43.2 30.4 38.  33.4 44.9 44.7 37.6
 39.8 53.4 55.2 42.  37.2 42.8 18.8 42.9 14.3 37.7 48.4 50.6 46.2 49.5
 43.3 33.9 18.5 44.5 45.4 55.  54.8 19.9 17.9 15.6 52.8 15.2 66.8 55.1
 18.2 48.5 55.9 57.3 10.3 14.1 15.7 56.  44.8 13.4 51.8 38.1 57.7 44.4
 38.8 49.3 39.1 54.  56.1 97.6 53.9 13.7 11.5 41.4 14.2 49.4 15.4 45.1
 49.2 48.7 53.8 42.7 48.8 52.7 53.5 50.5 15.8 45.3 14.8 51.9 63.3 40.7
 61.2 48.  46.8 48.3 58.1 50.4 11.3 12.8 13.5 14.5 15.  59.7 47.4 52.5
 13.2 52.9 61.6 49.9 54.3 47.9 13.  13.9 50.9 57.2 64.4 92.  50.8 57.9
 45.8 47.6 14.  46.4 46.9 47.1 13.3 48.1 51.7 46.3 54.1 14.9]
smoking_status

['formerly smoked' 'never smoked' 'smokes' 'Unknown']
stroke

[1 0]

In [89]:
print('Before drop `Other` in gender: {}'.format(df.shape[0]))
other_rows = df[df['gender'] == 'Other']
num_other_rows = (df['gender'] == 'Other').sum()
# print(other_rows)
print(num_other_rows)

df.drop(df[df['gender'] == 'Other'].index, inplace=True)
print('After drop `Other` in gender: {}'.format(df.shape[0]))

Before drop `Other` in gender: 4909
1
After drop `Other` in gender: 4908

### Find the number of records that has 'Unknown' in `smoking_status`

In [90]:
# drop records that has 'Unknown' in smoking_status
# smoking_unknown_rows = df[df['smoking_status'] == 'Unknown'].shape[0]
# print(smoking_unknown_rows)
# print('Number of records before dropping record that has `Unknown` values: {}'.format(df.shape[0]))
# df = df[~(df['smoking_status'] == 'Unknown')]
# print('Number of records after dropping record that has `Unknown` values: {}'.format(df.shape[0]))

### Convert non-numerical values to numerical

In [91]:

df['gender'] = df['gender'].map({'Male': 1, 'Female': 0})
df['ever_married'] = df['ever_married'].map({'Yes': 1, 'No': 0})
df['work_type'] = df['work_type'].map({'Never_worked': 0, 'Private': 1, 'Self-employed':2, 'Govt_job': 3, 'children': 4})
df['residence_type'] = df['Residence_type'].map({'Urban': 1, 'Rural': 0})
df['smoking_status'] = df['smoking_status'].map({'never smoked': 0, 'smokes': 1, 'formerly smoked': 2, 'Unknown': 3})
df = df.drop('Residence_type', axis=1)
df.head(20)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,avg_glucose_level,bmi,smoking_status,stroke,residence_type
0,9046,1,67.0,0,1,1,1,228.69,36.6,2,1,1
2,31112,1,80.0,0,1,1,1,105.92,32.5,0,1,0
3,60182,0,49.0,0,0,1,1,171.23,34.4,1,1,1
4,1665,0,79.0,1,0,1,2,174.12,24.0,0,1,0
5,56669,1,81.0,0,0,1,1,186.21,29.0,2,1,1
6,53882,1,74.0,1,1,1,1,70.09,27.4,0,1,0
7,10434,0,69.0,0,0,0,1,94.39,22.8,0,1,1
9,60491,0,78.0,0,0,1,1,58.57,24.2,3,1,1
10,12109,0,81.0,1,0,1,1,80.43,29.7,0,1,0
11,12095,0,61.0,0,1,1,3,120.46,36.8,1,1,0
12,12175,0,54.0,0,0,1,1,104.51,27.3,1,1,1
14,5317,0,79.0,0,1,1,1,214.09,28.2,0,1,1
15,58202,0,50.0,1,0,1,2,167.41,30.9,0,1,0
16,56112,1,64.0,0,1,1,1,191.61,37.5,1,1,1
17,34120,1,75.0,1,0,1,1,221.29,25.8,1,1,1
18,27458,0,60.0,0,0,0,1,89.22,37.8,0,1,1
20,70630,0,71.0,0,0,1,3,193.94,22.4,1,1,0
21,13861,0,52.0,1,0,1,2,233.29,48.9,0,1,1
22,68794,0,79.0,0,0,1,2,228.70,26.6,0,1,1
23,64778,1,82.0,0,1,1,1,208.30,32.5,3,1,0

In [92]:
import numpy as np
from scipy import stats


z_scores = np.abs(stats.zscore(df))
threshold = 3
df1 = df[(z_scores < threshold).all(axis=1)]
df1

,id,gender,age,hypertension,heart_disease,ever_married,work_type,avg_glucose_level,bmi,smoking_status,stroke,residence_type
249,30669,1,3.0,0,0,0,4,95.12,18.0,3,0,0
251,16523,0,8.0,0,0,0,1,110.89,17.6,3,0,1
252,56543,0,70.0,0,0,1,1,69.04,35.9,2,0,0
253,46136,1,14.0,0,0,0,0,161.28,19.1,3,0,0
254,32257,0,47.0,0,0,1,1,210.95,50.1,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,0,13.0,0,0,0,4,103.08,18.6,3,0,0
5106,44873,0,81.0,0,0,1,2,125.20,40.0,0,0,1
5107,19723,0,35.0,0,0,1,2,82.99,30.6,0,0,0
5108,37544,1,51.0,0,0,1,1,166.29,25.6,2,0,0
5109,44679,0,44.0,0,0,1,3,85.28,26.2,3,0,1

### Normalize data by converting the values to the scale of [0, 1]

In [93]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
id = df.pop('id') 
df_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
df_normalized = pd.concat([df_normalized, id.reset_index(drop=True)], axis=1)
df_normalized.head(20)

,gender,age,hypertension,heart_disease,ever_married,work_type,avg_glucose_level,bmi,smoking_status,stroke,residence_type,id
0,1.0,0.816895,0.0,1.0,1.0,0.25,0.801265,0.301260,0.666667,1.0,1.0,9046
1,1.0,0.975586,0.0,1.0,1.0,0.25,0.234512,0.254296,0.000000,1.0,0.0,31112
2,0.0,0.597168,0.0,0.0,1.0,0.25,0.536008,0.276060,0.333333,1.0,1.0,60182
3,0.0,0.963379,1.0,0.0,1.0,0.50,0.549349,0.156930,0.000000,1.0,0.0,1665
4,1.0,0.987793,0.0,0.0,1.0,0.25,0.605161,0.214204,0.666667,1.0,1.0,56669
5,1.0,0.902344,1.0,1.0,1.0,0.25,0.069107,0.195876,0.000000,1.0,0.0,53882
6,0.0,0.841309,0.0,0.0,0.0,0.25,0.181285,0.143184,0.000000,1.0,1.0,10434
7,0.0,0.951172,0.0,0.0,1.0,0.25,0.015927,0.159221,1.000000,1.0,1.0,60491
8,0.0,0.987793,1.0,0.0,1.0,0.25,0.116841,0.222222,0.000000,1.0,0.0,12109
9,0.0,0.743652,0.0,1.0,1.0,0.75,0.301634,0.303551,0.333333,1.0,0.0,12095
10,0.0,0.658203,0.0,0.0,1.0,0.25,0.228003,0.194731,0.333333,1.0,1.0,12175
11,0.0,0.963379,0.0,1.0,1.0,0.25,0.733866,0.205040,0.000000,1.0,1.0,5317
12,0.0,0.609375,1.0,0.0,1.0,0.50,0.518373,0.235968,0.000000,1.0,0.0,58202
13,1.0,0.780273,0.0,1.0,1.0,0.25,0.630090,0.311569,0.333333,1.0,1.0,56112
14,1.0,0.914551,1.0,0.0,1.0,0.25,0.767104,0.177549,0.333333,1.0,1.0,34120
15,0.0,0.731445,0.0,0.0,0.0,0.25,0.157419,0.315006,0.000000,1.0,1.0,27458
16,0.0,0.865723,0.0,0.0,1.0,0.75,0.640846,0.138603,0.333333,1.0,0.0,70630
17,0.0,0.633789,1.0,0.0,1.0,0.50,0.822500,0.442153,0.000000,1.0,1.0,13861
18,0.0,0.963379,0.0,0.0,1.0,0.50,0.801311,0.186712,0.000000,1.0,1.0,68794
19,1.0,1.000000,0.0,1.0,1.0,0.25,0.707137,0.254296,1.000000,1.0,0.0,64778

In [94]:
# nan_rows = (df[df.isna().any(axis=1)])
# num_nan_rows = nan_rows.sum()
# print(nan_rows)
# print(num_nan_rows)

stroke_num_rows = (df['stroke'] == 1).sum()
non_stroke_rows = (df['stroke'] == 0).sum()
print(stroke_num_rows)
print(non_stroke_rows)

209
4699

### Write to new CSV File

In [95]:
# new_id = df_normalized.pop('id')
# print(new_id)
# df_normalized.insert(0, 'id', id)
# df_normalized.head(20)
print('\nNumber of records in dataset after cleaning and pre-processing: {}'.format(df.shape[0]))
df_normalized.to_csv('cleaned_data_stroke.csv', index=False)

Number of records in dataset after cleaning and pre-processing: 4908

In [98]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Load the data


# Preprocess the data
# ...

# Split the data
X_train, X_test, y_train, y_test = train_test_split(df_normalized.drop("stroke", axis=1), df_normalized["stroke"], test_size=0.2, random_state=42)

# Create a logistic regression model
lr_model = LogisticRegression()

# Fit the model
lr_model.fit(X_train, y_train)



print(X_train.head())
print("X_test: \n", X_test.head(20))
# print("y_train: \n", y_train.head(20))
# print("y_test: \n", y_test.head(20))
# Predict using the model
y_pred = lr_model.predict(X_test)

# Evaluate the performance
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 score:", f1)

max_depth=2, min_samples_split=2
Accuracy: 0.9460285132382892


max_depth=2, min_samples_split=4
Accuracy: 0.9460285132382892


max_depth=2, min_samples_split=6
Accuracy: 0.9460285132382892


max_depth=2, min_samples_split=8
Accuracy: 0.9460285132382892


max_depth=2, min_samples_split=10
Accuracy: 0.9460285132382892


max_depth=4, min_samples_split=2
Accuracy: 0.9419551934826884


max_depth=4, min_samples_split=4
Accuracy: 0.9419551934826884


max_depth=4, min_samples_split=6
Accuracy: 0.9419551934826884


max_depth=4, min_samples_split=8
Accuracy: 0.9419551934826884


max_depth=4, min_samples_split=10
Accuracy: 0.9419551934826884


max_depth=6, min_samples_split=2
Accuracy: 0.939918533604888


max_depth=6, min_samples_split=4
Accuracy: 0.9389002036659878


max_depth=6, min_samples_split=6
Accuracy: 0.939918533604888


max_depth=6, min_samples_split=8
Accuracy: 0.939918533604888


max_depth=6, min_samples_split=10
Accuracy: 0.939918533604888


max_depth=8, min_samples_split=2
Accuracy: 0.9409368635437881


max_depth=8, min_samples_split=4
Accuracy: 0.939918533604888


max_depth=8, min_samples_split=6
Accuracy: 0.9409368635437881


max_depth=8, min_samples_split=8
Accuracy: 0.9409368635437881


max_depth=8, min_samples_split=10
Accuracy: 0.939918533604888


max_depth=10, min_samples_split=2
Accuracy: 0.9338085539714868


max_depth=10, min_samples_split=4
Accuracy: 0.9338085539714868


max_depth=10, min_samples_split=6
Accuracy: 0.9378818737270875


max_depth=10, min_samples_split=8
Accuracy: 0.9389002036659878


max_depth=10, min_samples_split=10
Accuracy: 0.9389002036659878

In [96]:
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

# Calculate the mean squared error and coefficient of determination
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

# Plot predicted vs. actual house prices
plt.scatter(y_test, y_pred)
plt.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'k--', lw=4)
plt.xlabel('Actual')
plt.ylabel('Predicted')
plt.title('Predicted vs. Actual Getting Stroke')
plt.show()